@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Thin.ttf) format("opentype");
  font-weight: 100; }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Light.ttf) format("opentype");
  font-weight: 300; }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf) format("opentype");
  font-weight: 400; }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf) format("opentype");
  font-weight: 500; }

@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Bold.ttf) format("opentype");
  font-weight: 700; }

/* width */
::-webkit-scrollbar {
  width: 0; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; }

html {
  font-size: 14px; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #151515;
  letter-spacing: 0.05rem;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; }

h1, h2, h3, h4, h5, h6 {
  color: #151515; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

p {
  padding: 0;
  margin: 0;
  text-align: left; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

button:focus, a:focus, input[type=text]:focus {
  outline: none !important;
  box-shadow: none !important; }

:focus {
  outline: none !important;
  box-shadow: none !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.highlight {
  color: #bd2282; }

.cap-me {
  text-transform: uppercase; }

.main-footer {
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 1s linear;
  z-index: 2; }

.main-progress-bar {
  position: relative;
  width: 100%; }
  @media (min-width: 768px) {
    .main-progress-bar {
      width: calc(50% + 70px); } }
  .main-progress-bar .brand-bar {
    position: absolute;
    top: 0;
    height: 4px;
    width: calc(50% + 35px); }
    .main-progress-bar .brand-bar.animate-brand {
      width: 0;
      animation-duration: 5.001s;
      animation-iteration-count: infinite;
      animation-name: bar-fill; }
  .main-progress-bar.animate-brand .brand-bar {
    width: 0;
    animation-duration: 5.001s;
    animation-iteration-count: infinite;
    animation-name: bar-fill; }
  .main-progress-bar .bar-left {
    border-radius: 0 4px 4px 0;
    left: 0;
    background: #d11875; }
  .main-progress-bar .bar-right {
    border-radius: 4px 0 0 4px;
    margin-top: 15px;
    right: 0;
    background: #2d205f; }

@keyframes bar-fill {
  0% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: calc(50% + 35px); } }

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 30px); }
  @media (min-width: 768px) {
    .social-icons {
      width: max-content;
      transform: translate(25px, 30px); } }
  .social-icons > li > a {
    color: #ffffff;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.5s linear; }
  .social-icons > li:hover a {
    transform: rotate(360deg);
    transition: all 0.5s linear; }
  .social-icons > li + li {
    margin-left: 10px; }

.main-header {
  position: fixed;
  width: 100%;
  z-index: 2;
  margin-right: auto; }
  @media (min-width: 768px) {
    .main-header {
      width: calc(50% - 35px); } }
  .main-header .main-header-inner {
    transition: all .75s linear;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 25px; }
    .main-header .main-header-inner a {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        .main-header .main-header-inner a {
          justify-content: flex-end; } }
    @media (min-width: 768px) {
      .main-header .main-header-inner {
        transform: translateX(180px); } }
    .main-header .main-header-inner img {
      max-width: 225px; }
      @media (min-width: 768px) {
        .main-header .main-header-inner img {
          max-width: 250px; } }
    .main-header .main-header-inner a {
      cursor: pointer; }

.main-side-panel {
  z-index: 2;
  position: absolute;
  margin-top: 115px; }
  @media (min-width: 992px) {
    .main-side-panel {
      position: static;
      margin: 0; } }
  .main-side-panel .global-search {
    padding: 0rem 1.5rem 0rem 1.5rem;
    width: calc(100% - 55px);
    margin-left: auto; }
    .main-side-panel .global-search .global-search-inner {
      position: relative; }
    .main-side-panel .global-search i {
      position: absolute;
      right: 0;
      top: 0;
      width: 35px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .main-side-panel .global-search .form-control {
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.75);
      height: 35px; }
      @media (min-width: 992px) {
        .main-side-panel .global-search .form-control {
          background: #fff; } }
    @media (min-width: 992px) {
      .main-side-panel .global-search {
        width: auto;
        margin: 0;
        padding: 2.85714rem 1.5rem 0.71429rem 1.5rem; } }
  .main-side-panel .navbar {
    position: absolute;
    top: -4px;
    padding: 0;
    margin: 0 15px;
    width: auto; }
    @media (min-width: 992px) {
      .main-side-panel .navbar {
        position: static;
        width: auto; } }
  .main-side-panel .navbar-nav {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 15px;
    width: calc(100vw - 30px); }
    @media (min-width: 992px) {
      .main-side-panel .navbar-nav {
        width: auto; } }

.navbar-toggler {
  padding: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .navbar-toggler {
      display: none; } }

.nav-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .nav-icon.on-white {
    background: #fff;
    border-radius: 50%;
    transition: all .3s linear; }
  .nav-icon .nav-icon-inner {
    width: 25px;
    height: 18px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }
  .nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #505050;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    .nav-icon span:nth-child(1) {
      top: 0; }
    .nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
      top: 8px; }
    .nav-icon span:nth-child(4) {
      top: 16px; }
  .nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .nav-icon.open span:nth-child(2) {
    transform: rotate(45deg); }
  .nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg); }
  .nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }

.dreamron-main-slider .dreamron-item {
  height: 100vh;
  position: relative; }
  .dreamron-main-slider .dreamron-item.cover {
    background-size: cover; }
  .dreamron-main-slider .dreamron-item.contain {
    background-size: cover; }
    @media (min-width: 768px) {
      .dreamron-main-slider .dreamron-item.contain {
        background-size: contain; } }
  .dreamron-main-slider .dreamron-item .image-text-content {
    position: absolute;
    bottom: 50px;
    right: 50px;
    max-width: 300px;
    line-height: 28px;
    text-align: right;
    display: none;
    color: #ffffff;
    text-shadow: -1px 0 #151515, 0 1px #151515, 1px 0 #151515, 0 -1px #151515; }
    @media (min-width: 768px) {
      .dreamron-main-slider .dreamron-item .image-text-content {
        display: block; } }
    @media (min-width: 1200px) {
      .dreamron-main-slider .dreamron-item .image-text-content {
        right: 100px; } }

.dreamron-main-slider .dreamron-one {
  background: url("../img/2.jpg") no-repeat center, #ffffff; }

.dreamron-main-slider .dreamron-two {
  background: url("../img/1.jpg") no-repeat center, #ffffff; }

.dreamron-text-slider {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8); }
  @media (min-width: 768px) {
    .dreamron-text-slider {
      position: static;
      z-index: 0; } }

@media (min-width: 768px) {
  .on-side-way .container-fluid {
    background: linear-gradient(90deg, #baa6f6 0, #e0d3ff 50%, #fbffff 100%); }
  .on-side-way .main-side-panel .navbar-nav {
    background: transparent; }
  .on-side-way .dreamron-common #panelWrap section {
    background: transparent !important; }
  .on-side-way .main-side-panel .global-search .form-control {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.25); }
    .on-side-way .main-side-panel .global-search .form-control:focus {
      border-color: #000000; }
  .on-side-way .dreamron-text-slider {
    position: absolute;
    z-index: 1;
    background: transparent; }
  .on-side-way .dreamron-main-slider {
    position: relative;
    margin-left: auto; }
    .on-side-way .dreamron-main-slider .dreamron-item {
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%); }
  .on-side-way .main-progress-bar {
    width: calc(50% - 140px); } }
  @media (min-width: 768px) and (min-width: 992px) {
    .on-side-way .main-progress-bar {
      width: calc(50% - 50px); } }

.on-side-way.home .slider-text-container {
  justify-content: center;
  text-align: right; }
  .on-side-way.home .slider-text-container .text-container {
    height: auto; }
    .on-side-way.home .slider-text-container .text-container h1 {
      color: #363533;
      font-size: 35px;
      line-height: 45px; }
      .on-side-way.home .slider-text-container .text-container h1 .highlight {
        font-size: 2.85714rem; }

.on-side-way .slider-text-container, .on-side-way .slider-text-container p {
  text-align: left; }

.on-side-way .slider-text-container h1 {
  margin-top: 0; }

.on-side-way .slider-text-container .text-container {
  justify-content: center; }

.year-row {
  display: grid; }
  .year-row .year-val {
    font-weight: 700; }
  .year-row + .year-row {
    margin-top: 10px; }

.dreamron-common {
  height: 100vh;
  position: relative; }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .dreamron-common {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        height: 0; } } }
  .dreamron-common.dragging-container:before {
    content: '';
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
    @media (min-width: 992px) {
      .dreamron-common.dragging-container:before {
        content: none; } }
  .dreamron-common #masterWrap {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden; }
  .dreamron-common #panelWrap {
    width: 100%;
    height: 100%; }
  .dreamron-common .dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    margin: 20px 10px; }
    @media (min-width: 992px) {
      .dreamron-common .dot {
        margin: 12px 0; } }
  .dreamron-common .dots {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 4px; }
    @media (min-width: 992px) {
      .dreamron-common .dots {
        right: 16px; } }
  .dreamron-common #downArrow {
    bottom: 12px; }
  .dreamron-common #upArrow {
    top: 12px; }
  .dreamron-common .arrow {
    position: absolute;
    z-index: 100;
    right: 12px;
    cursor: pointer;
    opacity: 0.75;
    width: 40px;
    height: 40px;
    stroke-width: 8px;
    stroke: white;
    fill: transparent; }
  .dreamron-common .toolTips {
    position: absolute;
    top: 50%;
    right: 50px;
    z-index: 1000;
    display: none; }
    @media (min-width: 992px) {
      .dreamron-common .toolTips {
        display: block; } }
  .dreamron-common .toolTip {
    opacity: 0;
    text-align: right;
    height: 12px;
    margin: 12px 0;
    line-height: 12px;
    left: 10px;
    top: 10px; }
  .dreamron-common p.navDotInfo {
    position: absolute;
    bottom: 5px;
    z-index: 225;
    width: 100%;
    text-align: center;
    max-width: 5000px;
    font-size: 0.875em; }
  .dreamron-common .hideMe {
    opacity: 0; }
  .dreamron-common .iconWrap {
    width: 300px;
    margin-top: 30px; }

.read-more-content {
  padding: 50px;
  overflow: auto; }
  .read-more-content img {
    margin-bottom: 50px;
    max-width: 100%; }
    @media (min-width: 576px) {
      .read-more-content img {
        max-width: 50%; } }
  .read-more-content p {
    margin-top: 20px; }
    @media (min-width: 576px) {
      .read-more-content p {
        column-count: 2; } }

.main-video video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

.main-expander {
  height: 100vh;
  width: 100%;
  margin-top: 100vh;
  position: fixed;
  transition-property: margin-top;
  transition-duration: 2s;
  background: #ffffff; }

.to-top .main-expander {
  margin-top: 0;
  transition-property: margin-top;
  transition-duration: 1s; }

.to-top .main-header .main-header-inner {
  transform: translateX(0); }

.to-top .main-footer {
  opacity: 1; }

.volume-control, .video-control {
  position: absolute;
  bottom: 10%;
  font-size: 2.85714rem;
  color: #2d205f; }

.volume-control {
  right: calc(10% + 60px); }

.video-control {
  right: 10%; }

.go-up {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; }
  .go-up span {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: #2d205f; }
    .go-up span + span {
      margin-top: 5px; }
  .go-up .unu {
    margin-top: 6px;
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite; }
  .go-up .doi, .go-up .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite; }
  .go-up .unu {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate; }
  .go-up .doi {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate; }
  .go-up .trei {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate; }
  .go-up .mouse {
    height: 60px;
    width: 30px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #2d205f;
    position: relative; }
  .go-up .dot-container {
    position: absolute;
    left: calc(50% - 2px);
    top: 5px; }
  .go-up .wheel {
    -webkit-animation: mouse-wheel 1.5s ease infinite;
    -moz-animation: mouse-wheel 1.5s ease infinite;
    position: absolute;
    left: calc(50% - 4px);
    bottom: 15px; }
    .go-up .wheel:before {
      content: '';
      width: 8px;
      height: 8px;
      display: block;
      border-right: 2px solid #2d205f;
      border-bottom: 2px solid #2d205f;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 0; } }

@keyframes mouse-scroll {
  0% {
    opacity: 1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 0; } }

@media (min-width: 768px) {
  .home .main-header {
    width: 250px;
    margin-left: calc(50% - 280px); } }

.dreamron-products {
  position: relative; }
  .dreamron-products .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    transition: all .2s linear;
    margin: 15px; }
    .dreamron-products .navbar-toggler:hover {
      background: rgba(0, 0, 0, 0.1); }
    @media (min-width: 576px) {
      .dreamron-products .navbar-toggler {
        display: none; } }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .dreamron-products {
        min-height: 100vh;
        min-height: -webkit-fill-available;
        height: 0;
        overflow: hidden; } } }

.main-products {
  overflow: hidden;
  position: relative; }
  .main-products .a-product {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer; }
    .main-products .a-product img {
      margin: 0 auto; }
    .main-products .a-product:hover .product-inner {
      border-color: rgba(0, 0, 0, 0.35); }
  .main-products .product-inner {
    display: grid;
    grid-gap: 10px;
    padding: 25px;
    border: 1px solid transparent;
    border-radius: 5px; }
  .main-products .product-name {
    font-weight: 700; }

.all-product-container {
  height: calc(100vh - 70px);
  overflow: auto; }

.product-category-side-panel {
  position: absolute;
  top: 0;
  z-index: 1;
  max-width: 100vw;
  overflow-x: hidden;
  transition: 0.45s left, background .4s linear;
  width: 100vw;
  left: -100vw;
  height: 100vh;
  padding: 0;
  background: rgba(0, 0, 0, 0); }
  .product-category-side-panel .product-category-side-panel-inner {
    padding: 2.14286rem;
    background: #f6f6f6;
    width: 75%;
    height: 100%;
    position: relative; }
    @media (min-width: 576px) {
      .product-category-side-panel .product-category-side-panel-inner {
        width: auto; } }
  .product-category-side-panel.open-menu {
    left: 0;
    background: rgba(0, 0, 0, 0.25); }
  @media (min-width: 576px) {
    .product-category-side-panel {
      position: static; } }
  .product-category-side-panel .brand-logo {
    display: block;
    padding-bottom: 15px; }
    .product-category-side-panel .brand-logo img {
      width: 100%; }
  .product-category-side-panel .nav {
    display: block;
    width: 100%; }
    .product-category-side-panel .nav .main-category {
      padding: 0.85714rem 1.07143rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1rem;
      cursor: auto; }
    .product-category-side-panel .nav .sub-category {
      font-weight: 500;
      cursor: pointer; }
    .product-category-side-panel .nav .main-nav-controller {
      padding: 0.5rem 0rem 0.71429rem 1.07143rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 500; }
      .product-category-side-panel .nav .main-nav-controller span, .product-category-side-panel .nav .main-nav-controller i, .product-category-side-panel .nav .main-nav-controller a {
        font-size: 0.92857rem;
        cursor: pointer;
        color: #000;
        padding: 0; }
      .product-category-side-panel .nav .main-nav-controller:hover a {
        background: transparent; }
      .product-category-side-panel .nav .main-nav-controller .back {
        transform: translateX(-23px);
        transition: all .3s linear; }
        .product-category-side-panel .nav .main-nav-controller .back i {
          padding-right: 10px;
          opacity: 0; }
        .product-category-side-panel .nav .main-nav-controller .back:hover {
          transform: translateX(0); }
          .product-category-side-panel .nav .main-nav-controller .back:hover i {
            opacity: 1; }
      .product-category-side-panel .nav .main-nav-controller .home {
        transform: translateX(52px);
        transition: all .5s linear; }
        .product-category-side-panel .nav .main-nav-controller .home i {
          padding-right: 10px; }
        .product-category-side-panel .nav .main-nav-controller .home:hover {
          transform: translateX(0); }
          .product-category-side-panel .nav .main-nav-controller .home:hover i {
            opacity: 1; }
    .product-category-side-panel .nav > li {
      width: 100%; }
      .product-category-side-panel .nav > li a {
        padding: 0.5rem 1.07143rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #383838;
        cursor: pointer;
        font-size: 0.85714rem; }
        .product-category-side-panel .nav > li a.a-sub-category {
          justify-content: flex-start; }
          .product-category-side-panel .nav > li a.a-sub-category i {
            padding-right: 5px;
            color: #afafaf; }
        .product-category-side-panel .nav > li a:hover {
          background: rgba(0, 0, 0, 0.05); }
      .product-category-side-panel .nav > li.active a {
        background: rgba(0, 0, 0, 0.05); }
  .product-category-side-panel .collapse .nav {
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden; }
  .product-category-side-panel .sub-collapse li a {
    font-size: 0.71429rem; }
  .product-category-side-panel .nav-link {
    padding: 0; }
    .product-category-side-panel .nav-link[data-toggle].collapsed i {
      transform: rotate(0deg);
      transition: all .3s linear; }
    .product-category-side-panel .nav-link[data-toggle]:not(.collapsed) i {
      transform: rotate(-180deg);
      transition: all .3s linear; }

.unique-product-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 4;
  left: -100%;
  transition: 0.45s left; }
  .unique-product-container .navbar-toggler {
    display: block; }
    .unique-product-container .navbar-toggler:hover {
      transform: rotate(90deg); }
  @media (min-width: 1200px) {
    .unique-product-container {
      width: 75%;
      background: linear-gradient(to right, #ffffff, #fbfbfb); } }
  .unique-product-container.open-panel {
    left: 0; }
  .unique-product-container .carousel-control-prev-icon, .unique-product-container .carousel-control-next-icon {
    background-image: none;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    width: 40px;
    height: 40px;
    color: #505050;
    opacity: 1;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center; }
    .unique-product-container .carousel-control-prev-icon:hover, .unique-product-container .carousel-control-next-icon:hover {
      background: rgba(0, 0, 0, 0.1); }
  .unique-product-container .carousel-control-prev-icon:hover {
    transform: translateX(-5px); }
  .unique-product-container .carousel-control-prev-icon:before {
    content: "\f053"; }
  .unique-product-container .carousel-control-next-icon:hover {
    transform: translateX(5px); }
  .unique-product-container .carousel-control-next-icon:before {
    content: "\f054"; }
  @media (min-width: 768px) {
    .unique-product-container .carousel-control-prev, .unique-product-container .carousel-control-next {
      width: 9%; } }

.carousel-product .carousel-img, .carousel-product .carousel-disc {
  display: flex;
  justify-content: center;
  align-items: center; }

.carousel-product .carousel-img {
  padding: 3.57143rem 3.57143rem 1.78571rem 3.57143rem; }
  @media (min-width: 992px) {
    .carousel-product .carousel-img {
      padding: 3.57143rem 1.78571rem 3.57143rem 7.14286rem; } }

.carousel-product .carousel-disc {
  padding: 1.78571rem 3.57143rem 3.57143rem 3.57143rem; }
  @media (min-width: 992px) {
    .carousel-product .carousel-disc {
      padding: 3.57143rem 7.14286rem 3.57143rem 1.78571rem; } }

.carousel-product h3, .carousel-product p {
  text-align: center; }

.carousel-product h3 {
  margin-bottom: 20px; }

.carousel-product .carousel-disc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.carousel-product .carousel-product-inner {
  overflow: auto;
  height: 100%; }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .carousel-product .carousel-product-inner {
        height: calc(100vh - 115px); } } }

.carousel-product .product-info {
  padding: 10px;
  background: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 15px; }
  .carousel-product .product-info .product-info-group {
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .carousel-product .product-info .product-info-group .product-info-label {
      font-weight: 700;
      margin-right: 10px; }

.products-category-footer {
  padding: 25px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f6f6f6; }
  .products-category-footer .social-icons {
    width: auto;
    transform: none; }

.all-products-footer {
  position: absolute;
  bottom: 0;
  height: 70px;
  left: 0;
  background: #fff;
  width: 100%; }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .all-products-footer {
        bottom: 115px; } } }
  .all-products-footer .brand-bar {
    top: 10px; }

@media (min-width: 768px) {
  .contact.to-top .main-header .main-header-inner {
    transform: translateX(180px); } }

@media (min-width: 992px) {
  .contact.to-top .main-header .main-header-inner {
    transform: translateX(0); } }

.contact .main-header {
  z-index: 11; }

.contact .main-side-panel {
  z-index: 12; }
  .contact .main-side-panel.open-form {
    z-index: 2; }
    @media (min-width: 992px) {
      .contact .main-side-panel.open-form {
        z-index: 12; } }

.contact .main-footer {
  height: 100px;
  background: #fff; }
  @media (min-width: 992px) {
    .contact .main-footer {
      height: 90px; } }
  .contact .main-footer .main-progress-bar {
    width: 100%;
    margin-top: 25px; }
    @media (min-width: 992px) {
      .contact .main-footer .main-progress-bar {
        width: calc(100vw - 42.7%);
        margin-top: 20px; } }
  @media (min-width: 992px) {
    .contact .main-footer .social-icons {
      transform: translate(25px, 20px); } }

.contact .left-area {
  display: grid;
  padding: 170px 15px 30px;
  height: calc(100vh - 80px);
  overflow: auto;
  position: relative;
  background: #fff;
  z-index: 7; }
  .contact .left-area.open-form {
    z-index: 14; }
    @media (min-width: 992px) {
      .contact .left-area.open-form {
        z-index: 7; } }
  @media (min-width: 992px) {
    .contact .left-area {
      padding: 140px 15px 30px; } }
  .contact .left-area iframe {
    margin-top: 25px; }
    .contact .left-area iframe.open-form {
      display: none; }
    @media (min-width: 992px) {
      .contact .left-area iframe {
        display: none; } }

.contact .right-area {
  position: relative;
  height: 100vh;
  display: none; }
  @media (min-width: 992px) {
    .contact .right-area {
      display: block; } }
  .contact .right-area .map-content {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5; }

.contact .main-progress-bar {
  margin-top: 10px; }

.contact .contact-area-name {
  padding-top: 25px; }

.contact .a-contact-section {
  margin-top: 10px; }
  .contact .a-contact-section > li a {
    color: #151515; }
  .contact .a-contact-section > li + li {
    margin-top: 10px; }

.contact .sent-email {
  cursor: pointer;
  position: relative;
  width: max-content;
  text-decoration: underline;
  height: 20px; }
  .contact .sent-email .rocket {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    -webkit-animation: rocket 5.001s infinite;
    -moz-animation: rocket 5.001s infinite;
    -o-animation: rocket 5.001s infinite;
    animation: rocket 5.001s infinite;
    animation-delay: 1.4s; }
  .contact .sent-email .cover-me {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    right: 0;
    top: 0;
    -webkit-animation: cover-me 5.001s infinite;
    -moz-animation: cover-me 5.001s infinite;
    -o-animation: cover-me 5.001s infinite;
    animation: cover-me 5.001s infinite;
    animation-delay: 1.4s; }

.contact .email-form-container {
  position: absolute;
  left: -100%;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 6;
  padding: 130px 15px 30px;
  transition: 0.45s all linear;
  opacity: 0; }
  @media (min-width: 1200px) {
    .contact .email-form-container {
      left: -50%;
      width: 50%; } }
  .contact .email-form-container.open-form {
    left: 0;
    opacity: 1; }
  .contact .email-form-container form {
    overflow: auto;
    padding: 0 15px; }
    @media (min-width: 992px) {
      .contact .email-form-container form {
        height: calc(100vh - 160px); } }
  .contact .email-form-container .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    transition: all .2s linear;
    margin: 15px; }
    .contact .email-form-container .navbar-toggler:hover {
      background: rgba(0, 0, 0, 0.1);
      transform: rotate(90deg); }

@keyframes cover-me {
  0% {
    width: 100%; }
  40% {
    width: 0; }
  50% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes rocket {
  0% {
    left: 0; }
  40% {
    left: 100%; }
  50% {
    left: 100%; }
  100% {
    left: 0; } }

.randd {
  position: relative; }
  .randd .unique-product-container .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    transition: all .2s linear;
    margin: 15px; }
    .randd .unique-product-container .navbar-toggler:hover {
      background: rgba(0, 0, 0, 0.1); }

.tns-outer .tns-controls, .tns-outer .tns-nav {
  display: none; }

.tns-outer button[data-action="stop"] {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0; }

.tns-outer .tns-item {
  height: 100vh; }

.slider-text-item-container {
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.slider-text-container {
  text-align: right;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 40px 110px 30px;
  height: calc(100vh - 200px);
  margin-bottom: 40px; }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .slider-text-container {
        height: calc(100vh - 275px);
        margin-bottom: 115px; } } }
  @media (min-width: 992px) {
    .slider-text-container {
      padding: 50px 50px 120px 0;
      height: calc(100vh - 80px);
      margin-bottom: 0; } }
  .slider-text-container h1 {
    font-size: 1.42857rem;
    margin-top: auto; }
    @media (min-width: 1200px) {
      .slider-text-container h1 {
        font-size: 2.14286rem;
        line-height: 40px; } }
  .slider-text-container p {
    margin-top: 20px;
    text-align: right;
    font-size: 0.85714rem; }
    @media (min-width: 1200px) {
      .slider-text-container p {
        font-size: 1rem;
        line-height: 25px; } }
  .slider-text-container .read-more {
    font-size: 12px;
    color: #d11875;
    cursor: pointer;
    border: 1px solid #d11875;
    padding: 6px 15px;
    border-radius: 30px;
    margin-top: 10px;
    width: max-content; }
    .slider-text-container .read-more:hover {
      background: #d11875;
      color: #ffffff; }
  .slider-text-container .text-container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column; }

.dot {
  background: transparent !important;
  border: 1px solid rgba(45, 32, 95, 0.75) !important; }
  .dot:hover {
    background: #2d205f !important; }

.arrow {
  stroke: rgba(45, 32, 95, 0.75) !important;
  opacity: 1 !important;
  width: 30px !important;
  height: 30px !important;
  stroke-width: 3px !important; }
  .arrow:hover {
    stroke: #2d205f !important; }

.bred-crumb {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  grid-gap: 10px; }

  
  .dreamron-rnd1 {
    background: url("../img/rnd1.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-rnd2 {
    background: url("../img/rnd2.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-rnd3 {
    background: url("../img/rnd3.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-rnd4 {
    background: url("../img/rnd4.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-rnd5 {
    background: url("../img/rnd5.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  
  .dreamron-hp1 {
    background: url("../img/hp1.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-hp2 {
    background: url("../img/hp2.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-hp3 {
    background: url("../img/hp3.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  
  .dreamron-sty1 {
    background: url("../img/sty1.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty2 {
    background: url("../img/sty2.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty3 {
    background: url("../img/sty2.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty4 {
    background: url("../img/sty4.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty5 {
    background: url("../img/sty5.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty6 {
    background: url("../img/sty6.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty7 {
    background: url("../img/sty7.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty8 {
    background: url("../img/sty8.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty9 {
    background: url("../img/sty9.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty10 {
    background: url("../img/sty10.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty11 {
    background: url("../img/sty11.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty12 {
    background: url("../img/sty12.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty13 {
    background: url("../img/sty13.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-sty14 {
    background: url("../img/sty14.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  
  .dreamron-oem1 {
    background: url("../img/oem1.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }
  .dreamron-oem2 {
    background: url("../img/oem2.jpg") no-repeat center, #ffffff;
    background-size: cover; 
  }

  .img-thumb > a > img{
    height:250px;
    width: 100%;
  }

  .thumb-header{
    margin-top: 150px;
    flex-direction: column;
  }
  
  .thumb-wrapper{
    height:calc(100vh - 230px);
    padding-right: 20px;
    overflow:auto;
  }
  

  
